:root {
  --par-text: 14px;
  --mid-text: 20px;
  --my-color1: #081C15;
  --my-color2: #1B4332;
  --my-color3: #2D6A4F;
  --my-color4: #40916C;
  --my-color5: #52B788;
  --my-color6: #74C69D;
  --my-color7: #95D5B2;
  --my-color8: #B7E4C7;
  --my-color8: #D8F3DC;
  --my-color9: #DDEAD1;
  --mycolor10: #eef1e5;
}
h1 {
  text-align: center;
}
/* applying the property of flex to display contents horizontally and evenly distributing the items */
.flex {
  display: flex;
  justify-content: space-between;
}

/* adding margin, align and padding properties to aboutus-block class */
.aboutus-block {
  margin: 0 100px 50px 100px;
  align-items: left;
  padding-bottom: 2rem;
  padding-top: 6vw;
}

/* adding height and width to the image of class aboutus-image */
.aboutus-image img {
  height: 300px;
  width: 425px;
}

/* centering the class aboutus-content using margin and setting left to 0 */
.aboutus-content {
  margin: auto 0;
  left: 0;
}

/* putting padding-bottom to h1 of class aboutus-header */
.aboutus-header h1 {
  padding-bottom: 2rem;
}

setting align-items to center, adding margin-top, padding, width, setting text-decoration to none
.aboutus-header p {
  align-items: center;
  margin-top: 40px;
  padding: 13px 20px;
  width: fit-content;
  text-decoration: none;
  background: #262223;
  font-size: larger;
}
.our_value{
  max-width: 87%;
  margin: 0 auto;
}
.our_value, .team{
  margin-top: 100px;
}
.our_value h1, .team h1, .feedback h1{
  margin-bottom: 50px;
}
.values, .members{
  justify-content: space-evenly;
}
.each_value {
  width: 30%;
  margin: 0 2vw 2vw 2vw;
  background-color: #cccccc;
  border-radius: 30vw 25vw 30vw 12vw;
  padding: 3vw;
  text-align: center;
  display: flex;
  align-items: center;
}
.each_value h2 {
  font-size: 2vw;
}

.each_value p {
  font-size: 1.6vw;
}

.members{
  flex-wrap: wrap;
}

/* .fa {
  padding: 0px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  padding-bottom: 2em;
} */

a {
  text-decoration: none;
}

.team {
  position: relative;
  z-index: 1;

}



/* pseudo element */
a:link {
  color: var(--my-color1);
}

a:hover {
  color: var(--my-color1);
}

/* for mobile phones */
@media only screen and (max-width: 600px) {
  .flex {
    flex-wrap: wrap;
  }

  .image1 {
    margin: auto;
  }
}

.member img {
  height: 37vh;
  margin: auto;
  border-radius: 50%;
  padding: 2em 2em;
}

.member .details {
  text-align: center;
  line-height: 2;
}

.member {
  position: relative;
  margin: 0 5vw 5vw 5vw;
  border-radius: 6px;
  background-color: var(--mycolor10);
}

.profile_img {
  position: relative;
  text-align: center;

}

.overlay {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  color: var(--mycolor10);
  font-weight: 400;
  font-size: 4vh;
}

.profile_img:hover img {
  /* -webkit-filter: blur(4px); */
  filter: blur(4px);
  /* opacity: 0.2; */
}

.profile_img:hover {
  cursor: pointer;
}

.profile_img:hover .overlay {
  opacity: 1;
}


#about_us {
  position: relative;
}

#about_us.active {
  filter: blur(10px);
}


.social-media img{
  width: 2%;
  height: 2%;
}
.CV-container {
  z-index: 2;
}

.CV-container h1 {
  text-align: left;
}

.CV-container h2 {
  background-color: lightgrey;
  font-size: 3.5vh;
}

.CV-container .head {
  padding-left: 6vw;
}

.CV-container .closeBtn {
  cursor: pointer;
  position: absolute;
  right: 6%;
  top: 2%;
  height: 5vh;
  width: 5vh;
  color: black;
  font-size: 4vw;
  font-weight: 700;
  line-height: 4vw;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  margin: 0 auto;
  opacity: 0;
  width: 80%;
  left: 10%;
  height: fit-content;
  background-color: rgb(230, 225, 225);
  padding: 3vw;
  transition: 200ms ease-in-out;
  /* opacity: 0; */
}

#modal1,
#modal2,
#modal3
{
top: 243%;
}

#modal4,
#modal5 {
  top: 307%;
}

.modal.active {
  opacity: 1;
}