.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transform: translateY(120px);
    }
#technology, #bonsai, #positive, #negative {
    padding: 25% 25% 0 0;
    font-size: 132%;
}
.flex-parent-element {
    display:flex;
    justify-content: space-evenly;
    width: 100%;
}
.flex-child-element{
    flex: 1 3;
}
.flex-child-element:first-child{
    padding-left: 15%;
    padding-right: 0;
}
#jump{
    border-top: #000000; 
    position: fixed; 
}
a:link {
    text-decoration: none;
    font-size: 130%;
}
a:hover {
    color:#444444;
    text-decoration: underline;
    font-weight: bold;
}
