.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transform: translateY(120px);
    }

.heading h1{
    text-align: left;
    margin-top: 7rem;
    font-size: 3rem;
}
#technology, #bonsai, #positive, #negative , #conclusion{
    padding: 10% 10% 0 0;
}
.flex-parent-element {
    display:flex;
    /* justify-content: space-evenly; */
    width: 100%;
}
.flex-child-element{
    flex: 1 3;
    margin-top: 5rem;
}
.flex-child-element1:first-child{
    padding-left: 15%;
}

.flex-child-element1{
    padding-left: 30%;
    flex: 7 3;
    margin-top: 5rem;
}
.flex-child-element:first-child{
    padding-left: 15%;
    padding-right: 0;
}
#jump{
    border-top: #000000; 
    position: fixed; 
    z-index: -1;
}
#jump a:link {
    text-decoration: none;
    font-size: 130%;
    transition: 0.3s ease;
}
#jump a:hover {
    color:#444444;
    font-weight: bold;
    padding-left: .1rem;
}
