.CV-container{
    position: absolute;
    /* margin: 0 auto; */
    top: 200%;
    left: 50%;
    transform: translate(-50%,-30%) scale(0);
    width: 80%;
    height: fit-content;
    background-color: rgb(230, 225, 225);
    padding: 3vw;
    transition: 200ms ease-in-out;
}
.CV-container{
    transform: translate(-50%,-30%) scale(1);
}
.CV-container h1{
    text-align: left;
}
.CV-container h2{
    background-color: lightgrey;
    font-size: 3.5vh;
}
.CV-container .head{
    padding-left: 6vw;
}
.CV-container #closeBtn{
    cursor: pointer;
    position: absolute;
    right: 6%;
    top: 2%;
    height: 5vh;
    width: 5vh;
    /* background-color: rgb(147, 178, 100); */
    color: black;
    font-size: 4vw;
    font-weight: 700;
    line-height: 4vw;
    /* border-radius: 50%; */
}
#modal{
    opacity: 0;
}
#modal.active{
    z-index: 2;
    opacity: 1;
    /* pointer-events: auto; */
}