.flex{
    display: flex;
}

.research{
    padding-top: 7rem;
}

.research_head{
    margin-left: 90px;
    margin-bottom: 2rem;
}
.research_head p{
    /* margin-left:40px; */
    font-size: 0.9rem;
}

.research_head a{
    text-decoration: none;
    color: var(--my-color2);
}

.research_head a:hover{
    border-bottom: 0.1rem solid black;
}

.research_head_content{
    margin-top: 0;
    padding-top: 0;
    width: 98%;
    display: flex;   
}

.research_content {
    text-align: left;
    margin-top: 10%;

}

.research_content h1{
    margin-left: -20rem;
    font-size: 3rem;
}

.research_image img{
    margin-right: -40px;
    width: 70%;
    height: auto;
    display: block;
}

.value {
    padding: 10% 10% 0 0;
}

/* .research_content{
    align-items: center;
} */

/* .image img{
    width: 40%;
    left:20%;
} */
ul{
    margin-top: 30px;
    list-style: none;
}
.lists ul a{
    text-decoration: none;
    /* padding: 5vh; */
    white-space: nowrap;
    color: black;
    /* border-bottom: 1px solid transparent; */
}
/* a:active{
    border-bottom: 1px solid black;
} */
.lists{
    position: sticky;
    top: 10%;
    max-width: 30%;
    border-top: 2px rgb(214, 213, 213) solid;
    max-width: 350px;
    border-bottom: 2px black solid;
    max-width: 350px;
    margin-left: 5rem;
    margin-bottom: 3rem;
    padding-right: 0;
}
.lists li{
    margin-bottom: 2vh;
    transition: 0.07s ease;
    padding-bottom: 20px;
    /* padding-bottom: 1.7vh; */
}
.lists li:hover{
    font-weight: 600; 
    padding-left: 6px;
}
.list-desc{
    margin-left: 35vw;

}
.value li{
    list-style-type: disc;
    margin-right: 10vw;

}
/* .research-intro img{
    width: 100%;
}  */

/* li:active{
    border-bottom: 1px solid black;
} */
@media screen and (max-device-width: 480px){
    .flex{
        flex-direction: column;
        width: 100%;
    }
    ul{
        display: flex;
    }
}
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px){
    .flex{
        flex-direction: column;
    }
    ul{
        display: flex;
    }
}