:root{
    --par-text: 14px;
    --mid-text: 20px;
    --my-color1:#081C15;
    --my-color2:#1B4332;
    --my-color3:#2D6A4F;
    --my-color4:#40916C;
    --my-color5:#52B788;
    --my-color6:#74C69D;
    --my-color7:#95D5B2;
    --my-color8:#B7E4C7;
    --my-color8:#D8F3DC;
    --my-color9:#DDEAD1;
    --mycolor10: #eef1e5;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color: #57ba98;
    font-size: var(--mid-text);
    align-items: center;
    position: fixed;
}
.nav-bar-left{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.nav-bar-right{
    display: flex;
    gap:60px;
    justify-content: space-between
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

a{
    text-decoration: none;
}


.nav-bar a:hover{
    color: rgb(103, 16, 16);
}

li{
    list-style: none;
}


.footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, var(--my-color1), var(--my-color2));
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative ;
    border-bottom: 3px solid #ccc;
}

.email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
    ;

}

ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}

.col ul li a:hover{
    color: #bbb;
    padding-left: 10px;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

form button:hover{
    color: #bbb;
    padding-right: 10px;
}

.col .socials a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
    
}

.col .socials a:hover{
    color: #bbb;
    padding-left: 10px;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.footer p, .footer a{
    text-align: left;
}

@media(max-width: 1024px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-bar-right{
        gap: 10px;
    }
    .nav-bar-left{
        position: fixed;
        left: -100%;
        gap: 0;
        flex-direction: column;
        text-align: center;
        transition: 0.3s;
        width: 100%;
        top:70px 
    }

    .nav-bar-left li{
        margin: 16px 0;;
    }

    .nav-bar-left.active{
        left:0%
    }
}
